/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body{
    font-family: "Lato", sans-serif;
}

/* Utilities */

.container{
    max-width: 1200px;
    margin: 0 auto;
}


.background {
    height: (100vh);
    background: linear-gradient(
        to bottom,
        #009688 20%,
        #DADBD4 20%
        
        );
}
    
.boolzapp {
    display: flex;
    padding: 45px 0;
}
    
/* contacts field */
    
.contacts-field {
    width: 30%;
}
    
.contacts-field header {    
    background-color: beige;
}
    
.contacts-field nav {
    height: calc(90vh - 190px);
    overflow: auto;
    background-color: cadetblue;
}

div.user {
    height: 70px;
    background-color: #EAEAEA;
}

div.notifications {
    height: 80px ;
    background-color: aqua;
}

div.search {
    height: 40px;
    background-color: rgb(221, 187, 48);
}

/* message board */
.message-board {
    flex-basis: 70%;
}
    
.message-board header {
    height: 70px;
    background-color: #EAEAEA;
    border-left: 1px solid lightgray;
}

.message-board footer {
    height: 70px;
    background-color: azure;
}

.message-board main {
    height: calc(90vh - 140px);
    overflow: auto;
    background-image:url(../img/mine.png);
        
}

