/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body{
    font-family: "Lato", sans-serif;
}

time {
    display: block;
    text-align: right;
    font-size: 10px;
    color: lightgray;
}

img {
    max-height: 100%;
    border-radius: 50%;
}

h4 {
    font-size: 18px;
}

.fa-solid,
.fa-regular {
    color: gray;
}
/* Utilities */

.container{
    max-width: 1200px;
    margin: 0 auto;
}


.background {
    height: (100vh);
    background: linear-gradient(
        to bottom,
        #009688 20%,
        #DADBD4 20%
        
        );
}
    
.boolzapp {
    display: flex;
    padding: 45px 0;
}
    
/* contacts field */
    
.contacts-field {
    width: 35%;
}
    
.contacts-field header {    
    background-color: beige;
}
    
.contacts-field nav {
    height: calc(90vh - 190px);
    overflow: auto;
    background-color: #fff;
}

div.user {
    height: 70px;
    padding: 10px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user .user-data {
   height: 100%;
   display: flex;
   align-items: center;
}

div.notifications {
    height: 80px ;
    background-color: #8EDAFC;
}

div.search {
    height: 40px;
    background-color: #FAFAFA;
}

/* lista contatti */

li.contact-card {

    height: 85px;
    width: 100%;
    padding: 10px;
    border: 1px dashed red;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}




.contact-card > p {
    font-size: 12px ;
}

/* message board */
.message-board {
    flex-basis: 65%;
}

/* message board header */
.message-board header {
    
    background-color: #EAEAEA;
    border-left: 1px solid lightgray;
 
}

.current-contact {
    display: flex;
    height: 70px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
   
}

.contact-info {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-info p {
    color: gray;
}

/* message board footer */
.message-board footer {
    height: 70px;
    background-color:#F3EEEA;
}

/* main */ 
.message-board main {
    height: calc(90vh - 140px);
    overflow: auto;
    background-image:url(../img/mine.png);
    padding: 40px 60px;
}

 main > div {
    width: 100%;
    padding: 0 10px;
}

.message-field {
    display: flex;
    flex-direction: column;

}

.message-field > div {
    margin-bottom: 10px;
    min-height: 20px;
    padding: 10px 10px 5px;
    border-radius: 12px;
    
}

.message-field .sent-message{
    background-color: #D5F9BA;
    width:45%;
    align-self: flex-end;
    
}

.message-field .recived-message{
    background-color: #fff;
    width:45%;
    align-self: flex-start;
}

/* message board footer */

.message-bar {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.message-bar input {
    flex-basis: 80%;
    height: 70%;
    border-color: transparent;
    border-radius: 12px;
    text-indent: 20px;
}

::placeholder {
    color: gray;
    font-weight: 600;
}